$black: #2c2a26;
$white: #fefefe;
$dark-gray: #bbc3c6;
$red: #ca3123;
$green: #89ae3a;
$blue: #0b8bd2;
$dark-green: #0a633c;
$line-height: 120%;
$letter-spacing: 0.4px;

:root {
  --black-color: #{$black};
  --white-color: #{$white};
  --dark-gray-color: #{$dark-gray};
  --red-color: #{$red};
  --green-color: #{$green};
  --blue-color: #{$blue};
  --dark-green-color: #{$dark-green};
  --line-height: #{$line-height};
  --letter-spacing: #{$letter-spacing};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.app {
  &-wrapper {
    // padding: 16px 16px 40px;
    height: 100%;
    & > div {
      height: 100%;
    }
  }
}

.l {
  &-s {
    &03 {
      letter-spacing: 0.3px;
    }
  }
}

.link {
  color: var(--blue-color);
}

.md {
  width: 68px;
}

.f {
  &w {
    &600 {
      font-weight: 600;
    }
    &500 {
      font-weight: 500;
    }
    &400 {
      font-weight: 400;
    }
  }
}

.button {
  background: var(--blue-color);
  border-radius: 10px;
  color: var(--white-color);
  width: 100%;
  height: 48px;
  line-height: var(--line-height);
  border: none;
}

.logo {
  max-width: 135px;
}

.inc {
  margin-top: 10px;
}

.icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.s05 {
  transform: scale(0.5) translateY(-50%);
}

.b {
  &-b {
    &-gray {
      border-bottom: 1px solid #e4e4e4;
    }
  }
}

.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.j {
  &sc {
    justify-self: center;
  }
  &c {
    &c {
      justify-content: center;
    }
    &fxend {
      justify-content: flex-end;
    }
    &sb {
      justify-content: space-between;
    }
  }
}

.a {
  &sc {
    align-self: center;
  }
  &ic {
    align-items: center;
  }
}

.fs {
  &24 {
    font-size: 24px;
  }
  &17 {
    font-size: 17px;
  }
  &14 {
    font-size: 14px;
  }
  &12 {
    font-size: 12px;
  }
}

.max {
  &W {
    &-300 {
      max-width: 300px;
    }
    &-230 {
      max-width: 230px;
    }
    &-190 {
      max-width: 190px;
    }
    &-135 {
      max-width: 135px;
    }
  }
}

.title {
  max-width: 230px;
}

.input {
  border-radius: 10px;
  height: 48px;
  border: 1px solid #d6d9e0;
  font-size: 16px;
  width: 100%;
  color: var(--black-color);
  &::placeholder {
    color: var(--dark-gray-color);
    font-size: 16px;
  }
  &:last-of-type {
    margin-bottom: 16px;
  }
  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.fc {
  &gray {
    color: var(--dark-gray-color);
  }
}

.lh {
  &17 {
    line-height: 17px;
  }
  &20 {
    line-height: 20px;
  }
}

.dg {
  display: grid;
}

.gt {
  &r {
    &--r-3-1fr {
      grid-template-rows: auto 1fr 1fr;
    }
    &-a-1fr {
      &-a {
        grid-template-rows: auto 1fr auto;
      }
    }
  }
}

.navigation_bar {
  display: flex;
  padding: 16px;
}

.mt {
  &69 {
    margin-top: 69px;
  }
  &40 {
    margin-top: 40px;
  }
  &8 {
    margin-top: 8px;
  }
}

.mb {
  &24 {
    margin-bottom: 24px;
  }
}

.p {
  &24 {
    padding: 24px;
  }
  &abs {
    position: absolute;
    &-center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &rel {
    position: relative;
  }
  &60--24 {
    padding: 60px 24px;
  }
  &60--24--12 {
    padding: 60px 24px 12px;
  }
  &40--24 {
    padding: 40px 24px;
  }
  &0--16 {
    padding: 0 16px;
  }
  &0--16--40 {
    padding: 0 16px 40px;
  }
  &0--32 {
    padding: 0 32px;
  }
  &16--16--0 {
    padding: 16px 16px 0;
  }
  &16 {
    padding: 16px;
  }
}

.t {
  &0 {
    top: 0;
  }
}

.l {
  &0 {
    left: 0;
  }
}

.w {
  &100 {
    width: 100%;
  }
}

.h {
  &56 {
    height: 56px;
  }
}

.check {
  &box {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
    & > input {
      display: none;
      &:checked ~ .check_icon {
        border: 12px solid #89ae3a;
        & > img {
          opacity: 1;
        }
      }
    }
    & > p {
      margin-left: 36px;
      text-align: left;
    }
  }
  &_icon {
    width: 24px;
    height: 24px;
    float: left;
    background: #e3e3e3;
    border-radius: 24px;
    border: 1px solid #bbc3c6;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    &--blue {
      background: #f4f6fa;
      border-radius: 24px;
      border: 0px solid #0b8bd2;
    }
  }
}

.large_radio {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0px 0px 0px rgba(64, 117, 205, 0.16);
  display: block;
  width: 147px;
  height: 176px;
  border-radius: 10px;
  border: 1px solid #d6d9e0;
  position: relative;
  & > .radio {
    &__title {
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & > .check_icon {
    position: absolute;
    top: 15px;
    right: 18px;
  }
  &_btn {
    & > input {
      display: none;
      &:checked {
        & ~ label {
          box-shadow: 0px 0px 16px rgba(64, 117, 205, 0.16);
          & > .check_icon {
            border: 12px solid #0b8bd2;
            & > img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.custom-center-overlay {
  height: 100%;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #5ac9e9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-option {
  padding: 10px 20px;
  width: calc(100vw / 3.5);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.datePicker {
  width: 100%;
  padding: 0 24px;
  margin-top: 18px;
}

.height-picker {
  margin-top: 18px;
  width: 159px;
  height: 221px;
  .height-value {
    margin: 12.5px 40px 0;
  }
  .row-option.active-row-option {
    & > .custom-option {
      padding: 12.5px 20px 7.5px 0px;
    }
  }
}

.weight-picker {
  margin-top: 58px;
  // width: 100%;
}

.cards {
  margin-top: 57px;
  &.diet-wrapper {
    margin-top: 28px;
  }
  .large_radio_btn {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
  .check_icon {
    right: 16px;
  }
  .radio__title {
    position: static;
    transform: none;
    text-align: left;
    margin: 17px 40px 17px 17px;
    &.diet-card {
      margin: 17px 42px 17px 12px;
    }
  }
}

.w100vw {
  width: calc(100vw - 44px);
  height: auto;
}

.sub-title {
  color: #999999;
}